.button {
  background-color: #fff;
  border: 2px solid #008CBA;
  border-radius: 8px;
  font-size: 18px;
  height: 3em;
  margin: 2%;
  width: 6em;
}

.button:hover, .selected {
  background-color: #008CBA;
  color: #fff;
  cursor: pointer;
}